[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
social-auth-app-django = "*"
graphene-django = "*"
graphene-file-upload = "*"
dj-database-url = "*"

[dev-packages]
bpython = "*"
django-debug-toolbar = "*"
black = "*"
isort = "*"
flake8 = "*"
pytest-sugar = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
factory-boy = "*"
pytest-factoryboy = "*"
flake8-bugbear = "*"
pytest-flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
